__pycache__/
*.py[cod]
env/

build/
dist/
sdist/
.eggs/
*.egg-info/


# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log
*.db

# Sphinx documentation
docs/_build/

*.sublime-project
*.sublime-workspace
*.swp
*.*~
.idea/
.DS_Store

# /
/.ropeproject
/.noseids
/.pydevproject
/.project
/.settings
/tags
/.tags
/.tags1
/.vimrc
/.vscode
/nbproject
/dist-packages
/node_modules
/xunit.xml
